// main.scss
@use 'base/variables' as *; // importa tudo de base/_index.scss sem namespace

@use 'components/header';
@use 'components/footer';
@use 'components/button';

@use 'pages/home';
@use 'pages/obras';
@use 'pages/servicos';
@use 'pages/contato';
