@use 'base/variables' as *; 

@use 'components/header';
@use 'components/footer';
@use 'components/button';

@use 'pages/home';
@use 'pages/obras';
@use 'pages/servicos';
@use 'pages/contato';
@use 'pages/orcamento';
