@use '../base/variables' as *;


.contato-hero {
  width: 100vw;
  background-color: #eef3fb;
  padding: 4rem 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 5rem;

  &__container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    flex: 1;
    max-width: 400px;
    text-align: center;
  }

  &__subtitle {
    font-size: 1.5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 1rem;
    font-family: $font-heading;
    color: $color-gray-500;
  }

  &__title {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    font-family: $font-heading;
    color: $color-black;
  }

  &__divider {
    width: 200px;
    height: 10px;
    background-color: #27466e;
    margin: 0 auto;
  }

  &__form {
    flex: 1;
    max-width: 400px;

    .contato__form {
      width: 100%;
      background: $color-white;
      padding: 2rem;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);

      .form__grupo {
        margin-bottom: 1.5rem;
        text-align: left;

        label {
          display: block;
          margin-bottom: 0.5rem;
          font-weight: bold;
          color: $color-black;
        }

        input,
        textarea {
          width: 100%;
          padding: 0.8rem;
          border: 1px solid $color-gray-300;
          border-radius: 5px;
          font-size: 1rem;
          font-family: $font-base;
        }
      }
    }
  }
}

// Responsividade
@media (max-width: 768px) {
  .contato-hero {
    &__container {
      flex-direction: column;
      text-align: center;
    }

    &__content,
    &__form {
      max-width: 100%;
    }
  }
}
