.obras {
    background-color: #f9f9f9;
    padding: 6rem 10rem;
    text-align: center;

    &__titulo {
        font-size: 3.75rem;
        font-family: $font-heading;
        color: $color-black;
        margin-bottom: 2rem;
        font-weight: $font-weight-regular;
    }

    &__fundo-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
    }

    &__fundo {
        position: absolute;
        background-color: #27466e;
        width: 100%;
        height: 100%;
        max-height: 500px;
        z-index: 0;
    }

    &__grid {
        position: relative;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding: 2rem;
        width: 100%;
        max-width: 1000px;
    }

    .obra__item {
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.03);
        }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            display: block;
            border-radius: 4px;
        }
    }
}
