@use '../base/variables' as *;
.servicos-page {
    height: 100vh;
    padding: 0rem 2rem;
    text-align: center;

    &__titulo {
        font-size: 5.75rem;
        font-family: $font-heading;
        color: $color-black;
        margin-bottom: 2rem;
        font-weight: $font-weight-regular;
    }

    &__descricao {
        font-size: 1.2rem;
        color: #555;
        margin-bottom: 3rem;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 250px);
        justify-content: center;
        gap: 1.5rem;
    }
}

.servico-card {
    transition: transform 0.3s ease;
    padding: 1rem 1rem;

    &:hover {
        transform: translateY(-5px);
    }

    &__icon {
        font-size: 3rem;
        font-family: $font-base;
        font-weight: $font-weight-regular;
        color: #27466e;
        margin-bottom: 1rem;
        display: block;
    }

    h3 {
        font-size: 1.2rem;
        color: #333;
        margin: 0;
        font-family: $font-base;
    }
}

/* Responsividade */
@media (max-width: 992px) {
    .servicos-page__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .servicos-page__grid {
        grid-template-columns: 1fr;
    }
}