@use '../base/variables' as *;

.btn {
    display: inline-block;
    background-color: #27466e;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 3rem;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-family: $font-base;
    letter-spacing: 3px;
    font-style: initial;

    &:hover {
        background-color: $color-black;
    }

    &--large {
        font-size: 0.875rem;
        padding: 1rem 2rem;
    }

    &--outline {
        background-color: transparent;
        border: 2px solid #27466e;
        color: #27466e;

        &:hover {
            background-color: #27466e;
            color: #fff;
        }
    }
}