@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

/* variáveis */
:root {
    --fonte-principal: 'Oswald', sans-serif;
    --fonte-texto: 'Open Sans', sans-serif;

    --cor-fonte-preta: #111;
    --cor-fonte-branca: #fff;
    --cor-fonte-cinza: #999; 

    --cor-azul: #27466e;
    --cor-branca: #fff;
}

html, body {
    font-family: var(--fonte-principal);
}



/* navbar */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0rem 10rem !important;
}

.logo {
    color: var(--cor-fonte-cinza);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
}

.nav-links li a {
    color: #555;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #0078D4;
}